.main-container {
    padding: 20px;
    height: 100vh;
    
    // Header Styles
    .header {
        background-color: black;
        padding: 30px;
        text-align: center;

        .title-heading {
            letter-spacing: 1px;
            color: white;
            display: inline-block;
        }

        .search-box-hidden {
            float: right;
        }

        .search-box-visible {
            input {
                padding: 15px;
                width: 40%;
                margin-left: 10px;
                outline: none;
                border: none;
            }
        }
    }

    // Sub Header Styles
    .sort-header {
        padding: 30px;
        border-bottom: 1px solid #d2d2d2;
        text-align: center;
        margin-bottom: 10px;
       
        .sort-products {
            float: right;
            select{
                padding: 10px;
                border: none;
                outline: none;
            }
        }
    }

    //Pagination Styles
    @mixin selected-text {
        color: white;
        background-color: black;
    }

    .pagination {
        .page-link {
            color: black;
            font-weight: bold;
            border: 1px solid black;

            &:hover {
                @include selected-text;
            }
        }
        .selected-page {
            @include selected-text;
        }
    }

    //Product Container Styles
    .product-container {
        display:inline-block;
        border:1px solid grey;
        margin:20px;
        .image{
            display:block;
            width:400px;
            height:400px;
        }
        .product-text {
            text-align: left;
            background-color: #eee;
            padding: 15px;
            span {
                display:block;
            }
        }
    }
    
    .align-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
    }

    .error-block {
        font-weight: bold;
        text-align: center;
        color: #ff0000a8;
    }

}
  